#### Group By in Spark

In [3]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/04 04:10:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [5]:
df_green.createOrReplaceTempView('green')

In [6]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
ORDER BY
    1, 2
""")

In [7]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

In [8]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow.createOrReplaceTempView('yellow')

In [9]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [10]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

#### Joins in Spark

In [14]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [15]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [16]:
df_join.write.parquet('data/report/revenue/total')

In [25]:
# Load back from file so it does not need to be recomputed when used again
df_join = spark.read.parquet('data/report/revenue/total')

In [27]:
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|  14|              NULL|                NULL|               8.8|                    1|
|2020-01-01 00:00:00|  15|              NULL|                NULL|             34.09|                    1|
|2020-01-01 00:00:00|  17|195.03000000000003|                   9|220.20999999999998|                    8|
|2020-01-01 00:00:00|  25| 531.0000000000002|                  26|            324.35|                   16|
|2020-01-01 00:00:00|  32| 68.94999999999999|                   2|              18.0|                    1|
|2020-01-01 00:00:00|  43|            107.52|                   6| 6539.510000000012|                  390|
|2020-01-01 00:00:00|  49|266.76000000000005|                  14|185.64999999999998|                   10|
|2020-01-01 00:00:00|  59|              50.9|                   3|              NULL|                 NULL|
|2020-01-01 00:00:00|  69|              11.8|                   1|            106.52|                    4|
|2020-01-01 00:00:00|  71|              23.8|                   1|              NULL|                 NULL|
|2020-01-01 00:00:00|  72|             67.53|                   2|              NULL|                 NULL|
|2020-01-01 00:00:00|  75|278.14000000000004|                  26| 958.3500000000004|                   69|
|2020-01-01 00:00:00|  78|             34.46|                   2|              NULL|                 NULL|
|2020-01-01 00:00:00|  82| 305.1200000000001|                  28|              29.8|                    1|
|2020-01-01 00:00:00|  85|             64.76|                   4|            102.56|                    3|
|2020-01-01 00:00:00|  87|              NULL|                NULL|2456.6699999999987|                  112|
|2020-01-01 00:00:00|  93|              NULL|                NULL|210.28000000000003|                    3|
|2020-01-01 00:00:00| 107|              NULL|                NULL| 6441.030000000006|                  380|
|2020-01-01 00:00:00| 113|              NULL|                NULL| 3984.319999999998|                  220|
|2020-01-01 00:00:00| 116|            328.76|                  18| 561.5100000000001|                   34|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [28]:
# join to smaller zones dataframe
df_zones = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [32]:
df_zones.write.parquet('zones')

In [33]:
df_zones = spark.read.parquet('zones/')

In [34]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [36]:
df_result.drop("LocationID", "zone").write.parquet('tmp/revenue-zones')

df_zones is very small
spark executors process different revenue partitions
entire zones dataset is copied to each executor
join inside each executor happens in memory
This is much faster than doing a merge sort

In [37]:
spark.stop()