**Python analytics of NY taxi data**

In [11]:
# Import packages
import pandas as pd
import os

In [ ]:
# Load dataframe
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=100)
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])

In [12]:
# Pandas uses SQLAlchemy, need to install with pip
#pip install sqlalchemy
#pip install psycopg2
from sqlalchemy import create_engine

In [13]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
# pandas io library can generate SQL for DDL commands:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

In [14]:
#over 1M rows in ny taxi data, upload data to db in batches
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [ ]:
# this is a python iterator
type(df_iter)

In [ ]:
# use the next function to get the next value in an iterator
df_0 = next(df_iter)
df_0

In [ ]:
df_0["tpep_dropoff_datetime"] = pd.to_datetime(df_0["tpep_dropoff_datetime"])
df_0["tpep_pickup_datetime"] = pd.to_datetime(df_0["tpep_pickup_datetime"])

In [5]:
# first create the table using the columns without inserting any data
df_head = df_0.head(n=0)
df_head.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

NameError: name 'df_0' is not defined

**Check that table created in postgres in terminal**

pgcli -h localhost -p 5432 -u root -d ny_taxi

Check for tables:
\dt

In [ ]:
# insert first 100000 rows to table. time the command
%time df_0.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

In [15]:
# now insert all data
from time import time
for df in df_iter:
    start_ts = time()
    df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])
    df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    end_ts = time()

    print('inserted another chunk in %.3f seconds' % (end_ts - start_ts))

inserted another chunk in 10.015 seconds
inserted another chunk in 9.440 seconds
inserted another chunk in 9.089 seconds
inserted another chunk in 9.063 seconds
inserted another chunk in 9.233 seconds
inserted another chunk in 8.956 seconds
inserted another chunk in 9.172 seconds
inserted another chunk in 8.963 seconds
inserted another chunk in 8.857 seconds
inserted another chunk in 8.905 seconds
inserted another chunk in 8.844 seconds
inserted another chunk in 8.772 seconds

/tmp/ipykernel_12099/2242597660.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in df_iter:

inserted another chunk in 8.858 seconds
inserted another chunk in 5.899 seconds